body {
    background-image: url(https://images.app.goo.gl/YMtuwwQFWi4AtVCx8);
    background-color: #3ba39e;
    text-align: center;
}

.navbar {
    background-color: #333333;
}

a {
    color: #f1f9f9;
}

a:hover {
    color: #f0f0f0;
  }

