body {
    background-image: url(https://images.app.goo.gl/YMtuwwQFWi4AtVCx8);
    background-color: #269A94;
    text-align: center;
}

.navbar {
    background-color: #333333;
}

a {
    color: #f1f9f9;
}

a:hover {
    color: #E6E6E6;
  }

